<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: lightblue;
}

 body {
/*    background-image: url("back.jpg");*/
    background-color: #6FA8B0;
    background-size: 1300px 750px;
}

h1 {
    color: white;
    text-align: center;
    font-family: "Brush Script MT", cursive;
    font-size: 150px;
    font-style: normal;
    font-weight: normal;
}

h2 {
    color: white;
    text-align: center;
    font-family: "Brush Script MT", cursive;
    font-size: 70px;
    font-style: normal;
    font-weight: normal;
}

p {
    color: white;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: normal;
    font-weight: normal;
}

h3 {
    color: white;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: normal;
    font-weight: normal;
}

h4 {
    color: white;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: normal;
    font-weight: normal;
}

button {
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 1000;
    line-height: 26.4px
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #FFDAB9;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

</style>
</head>
<body>

</body>
</html>
