<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
    font-family: "Brush Script MT", cursive;
    font-size: 150px;
    font-style: normal;
    font-weight: normal;
}


</style>
</head>
<body>

</body>
</html>
